<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <title>404</title>
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" style="height: 35px" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SmartBlog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/all">热门博客</a>
                </li>
                <li>
                    <a href="/edit">创建博客</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">账号管理
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">管理</li>
                        <li>
                            <a href="/settings">个人中心</a>
                        </li>
                        <li>
                            <a href="/admin">博客管理</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">账号</li>
                        <li>
                            <a href="/logout">退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/admin">登陆</a>
                </li>
                <li>
                    <a href="/register">注册</a>
                </li>
                <li>
                    <a href="/about">关于本站</a>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="input-group">
                    <input type="text" class="form-control" name="key" placeholder="搜索文章标题">
                    <span class="input-group-addon">go!</span>
                </div>
            </form>
        </div>
    </div>
</nav>
<body style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);">
<div class="container">
    <div class="row" style="margin-top: 100px">
        <div class="col-md-12">
            <div style="padding: 40px 15px;text-align: center;">
                <h1>哎呀</h1>
                <h2>404 Not Found</h2>
                <div style="margin-top: 15px;margin-bottom: 15px;">
                    抱歉，发生了一些错误，您请求的页面找不到了
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg" style="margin-right: 10px;"><span class="fa fa-home"></span>
                        首页 </a><a href="/" class="btn btn-default btn-lg"><span class="fa fa-envelope-o"></span>反馈</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>