<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${info.user.name}"></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/form-elements.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" style="height: 35px" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SmartBlog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/all">热门博客</a>
                </li>
                <li>
                    <a href="/edit">创建博客</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">账号管理
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">管理</li>
                        <li>
                            <a href="/settings">个人中心</a>
                        </li>
                        <li>
                            <a href="/admin">博客管理</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">账号</li>
                        <li>
                            <a href="#">更改密码</a>
                        </li>
                        <li>
                            <a href="/logout">退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/login">登陆</a>
                </li>
                <li>
                    <a href="/register">注册</a>
                </li>
                <li>
                    <a href="/about">关于本站</a>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="input-group">
                    <input type="text" class="form-control" name="key" placeholder="搜索文章标题">
                    <span class="input-group-addon">go!</span>
                </div>
            </form>
        </div>
    </div>
</nav>
<body>

<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div id="account"
             style="margin: 20px 10px;padding: 20px;background-color: hsla(0,0%,71%,.1);border: 1px solid #e1e1e1;border-radius: 4px;font-size: 12px;">
            <div style="min-height: 47px;">
                <img th:src="@{${info.header}}" height="48px" width="48px" class="img-circle img-thumbnail"
                     style="float: left;margin-right: 15px;">
                <button class="btn btn-success"
                        style="float: right;margin-top: 4px;padding: 8px 0;width: 100px;font-size: 16px;border-radius: 20px;">
                    关注
                </button>
                <a style="margin-right: 3px;font-size: 17px;line-height: 1.8;vertical-align: middle;"
                   th:href="@{'/user/'+${info.user.id}}" th:text="${info.user.name}"></a>
                <p>写了<b th:text="${info.count}"></b> 字，被
                    <b th:text="${info.interest}"></b> 人关注，获得了
                    <b th:text="${info.ulike}"></b> 个喜欢</p>
            </div>
        </div>
        <hr>
        <div class="col-sm-8">
            <div id="list" th:each="blogInfo : ${list}">
                <div>
                    <h2><a th:href="@{'/blog/'+${blogInfo.blog.id}}" style="color: black"
                           th:text="${blogInfo.blog.title}"></a></h2>
                    <p th:text="${blogInfo.blog.description}"></p>
                    <p><i class="fa fa-eye" title="浏览" aria-hidden="true" style="margin: 0 15px;"></i><b
                            th:text="${blogInfo.browse}"></b>
                        <i class="fa fa-comment-o" title="评论" aria-hidden="true" style="margin: 0 15px;"></i><b
                                th:text="${blogInfo.comment}"></b>
                        <i class="fa fa-thumbs-o-up" title="喜欢" aria-hidden="true" style="margin: 0 15px;"></i><b
                                th:text="${blogInfo.blike}"></b>
                        <b style="float: right" th:text="${#dates.format(blogInfo.blog.createTime, 'yyyy-MM-dd')}"></b>
                    </p>
                    <hr>
                </div>
            </div>
            <nav style="text-align: center">
                <ul class="pagination">
                    <li id="top" ><a th:href="@{'/user/'+${info.user.id}}">首页</a></li>
                    <li id="last"><a th:href="@{'/user/'+${info.user.id}+'/?page='+${page-1}}">上一页</a></li>
                    <li><a th:id="${page}" class="active" th:href="@{'/user/'+${info.user.id}+'/?page='+${page-1}}" th:each="page:${pages}" th:text="${page}"></a></li>
                    <li id="next"><a th:href="@{'/user/'+${info.user.id}+'/?page='+${page+1}}">下一页</a></li>
                    <li id="tail"><a th:href="@{'/user/'+${info.user.id}+'/?page=-1'}">尾页</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-4">
            <div style="margin: 0 30px;">
                <h3>个人介绍</h3>
                <p th:text="${info.description}"></p>
                <hr>
                <h3>文章分类</h3>
                <div class="list-group" style="text-align: center;">
                    <div th:each="str:${set}">
                        <a class="list-group-item" href="#" th:text="${str}"></a>
                    </div>
                </div>
                <hr>
                <h3>友链</h3>
                <p><a th:href="@{${info.home}}" class="fa fa-home fa-3x" title="个人主页"
                      style="margin: 0 10px;color: black"></a>
                    <a th:href="@{${info.weibo}}" class="fa fa-weibo fa-3x" title="微博"
                       style="margin: 0 10px;color: black"></a>
                    <a th:href="@{${info.github}}" class="fa fa-github fa-3x" title="github"
                       style="margin: 0 10px;color: black"></a></p>
            </div>
        </div>
    </div>
</div>

</body>
<footer class="footer" style="margin: 40px 0;text-align: center">
    <div class="container">
        <div>
            <strong>Copyright &copy; 2018<a href="/">SmartBlog</a>.</strong>All rights reserved.
        </div>

    </div>
</footer>
</html>